@{
    ViewData["Title"] = "Family Heirarchy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail to determine your family</p>

<!--
We will create a family tree using just CSS(3)
The markup will be simple nested lists
-->
<div class="tree">
    <ul>
        <li>
            <a href="#">Ram Brahmaiah</a>
            <ul>
                <li>
                    <a href="#">Venkateshwarlu</a>
                    <ul>
                        <li> <a href="#">Ram Brahma Chary</a></li>
                        <li>
                            <a href="#">Suresh</a>
                            <ul>
                                <li>
                                    <a href="#">Daughter</a>
                                </li>
                                <li>
                                    <a href="#">Son</a>
                                </li>
                            </ul>
                        </li>
                        <li> <a href="#">Hari Krishna (Kittu)</a></li>
                        <li> <a href="#">Leela Kumari</a>
                             <ul>
                                 <li>
                                     <a href="#">Teja</a>
                                 </li>
                             </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Shankara Chary</a>
                    <ul>
                        <li><a href="#">Ramu</a>
                            <ul>
                                <li>
                                    <a href="#">Vennela(Pandu)</a>
                                </li>
                                <li>
                                    <a href="#">Bhoomika (Ammulu)</a>
                                </li>                             
                            </ul>
                        </li>
                        <li>
                            <a href="#">Vinay</a>
                            <ul>
                                <li>
                                    <a href="#">Juhitha Laxmi</a>
                                </li>
                                <li>
                                    <a href="#">Ashrith Vardhan</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Anand</a>
                            <ul>
                                <li>
                                    <a href="#">Vedansh (Kannayya)</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Srisaila Chary</a>
                    <ul>
                        <li>
                            <a href="#">Brahmam</a>
                        </li>
                        <li>
                            <a href="#">Geetha</a>
                            <ul>
                                <li>
                                    <a href="#">Daughter 1</a>
                                </li>
                                <li>
                                    <a href="#">Daughter 2</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Satya Narayana chary</a>
                    <ul>
                        <li>
                            <a href="#">Aruna</a>
                            <ul>
                                <li>
                                    <a href="#">Abhi</a>
                                </li>
                                <li>
                                    <a href="#">Daughter 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Priya</a>
                        </li>
                        <li>
                            <a href="#">Divya</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Jayamma</a>
                    <ul>
                        <li>
                            <a href="#">Bhanu prasad</a>
                            <ul>
                                <li>
                                    <a href="#">Abhinav</a>
                                </li>
                                <li>
                                    <a href="#">Amulya</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Bhavani</a>
                            <ul>
                                <li>
                                    <a href="#">Vishruth</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Bhavya (baby)</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>